body {
  background-color: chocolate;
}

#world {
  border: 3px dashed darkolivegreen;
}

.special {
  border: 3px solid black;
}

h1.special,
li:first-child {
  background-color: pink;
  border: 1px dotted darkblue;
}
